* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper { 
    position: relative;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.wrapper > * {
    grid-column: 1;
    grid-row: 1;
}

.face-detection {
    position: absolute;
}